<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/blog/">Blog</a>
    </nav>
    <h1>#### Projects related to the Udacity Deep Learning Nanodegree</h1>
    <section>
      #### Projects related to the Udacity Deep Learning Nanodegree
This was the first chance for me to become acquainted with the Pytorch framework and practical implementation of some of the most
intriguing and promissing Neural Networks applications.

1. *Convolutional Neural Network*:
this project was all about the implementation of a neural network that can identify dog-breeds in images and classify
them into 133 distinct categories. The power of transfer learning is also demonstrated through this project when a pre-trained VGG-16 comes to the rescue!
[check it out! - Dog-breed classifier](https://github.com/MariosKokmo/Dog_Breed_Classifier--Udacity_Deep_Learning-Nanodegree)


2. *Recurrent Neural Network*:
This project included the construction of an RNN which is able to create TV scripts. It is trained in a corpus of scripts derived from 10 seasons of a TV sitcom. It is pretty fun!...and with further training or training on different documents, it can even write its own poems!
[check it out! - TV script generator](https://github.com/MariosKokmo/TV_script_generator--Udacity_Deep_Learning-Nanodegree)
    </section>
    <footer>
      &copy; 
    </footer>
  </body>
</html>
